@if (string.IsNullOrEmpty(ViewData["Language"]?.ToString()))
{
    ViewData["Language"] = "sv-se";

}

<!DOCTYPE html>
<html lang="@ViewData["Language"]">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (string.IsNullOrEmpty(ViewData["Title"]?.ToString()))
    { 
     <title> Partial Views And Views</title>
    }
    else
    {
       <title> @ViewData["Title"] - Partial Views And Views </title>
    }


    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_03_ASPNET_MVC_Partial__Views_And_Views.styles.css" asp-append-version="true" />
</head>
<body>

    <partial name="_TopMenuPartial"/>
    <partial name="_HeaderPartial" />
    <partial name="_MainMenuPartial" />

    @RenderBody();


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
