<div class="shop_by_category my-4">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="section-title">
                <h1>SHOP BY <span class="text-theme">CATEGORY</span></h1>
                <img src="images/wave-line.svg" alt="">
                <p>We always try to give you the best product within a fast and reliable way</p>
            </div>
        </div>

        <div class="grid">
            <div id="shop_by_category_box_1" class="box">
                <div class="box-title">Men</div>
            </div>
            <div id="shop_by_category_box_2" class="box">
                <div class="box-title">Women</div>
            </div>
            <div id="shop_by_category_box_3" class="box">
                <div class="box-title">Kids</div>
            </div>
            <div id="shop_by_category_box_4" class="box">
                <div class="box-title">Shoes</div>
            </div>
            <div id="shop_by_category_box_5" class="box">
                <div class="box-title">Hats</div>
            </div>
            <div id="shop_by_category_box_6" class="box">
                <div class="box-title">Sunglasses</div>
            </div>
            <div id="shop_by_category_box_7" class="box">
                <div class="box-title">Watches</div>
            </div>
        </div>
    </div>
</div>
