<div class="showcase">
    <div class="container">
        <div class="showcase_content">
            <h1>Shopping is</h1>
            <h1 class="text-theme"><strong>MORE FUN</strong></h1>
            <p class="my-4">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
            <button class="btn btn-white">SHOP NOW</button>
        </div>
        <img src="images/showcase-thumb.svg" alt="">
    </div>
</div>