<div class="top_menu">
    <div class="container">
        <div class="site_settings">
            <div class="dropdown">
                <button type="button" id="language_menu" data-bs-toggle="dropdown" aria-expanded="false">
                    ENG <i class="fa-regular fa-chevron-down ms-1"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="language_menu">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">Svenska</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button type="button" id="currency_menu" data-bs-toggle="dropdown" aria-expanded="false">
                    USD <i class="fa-regular fa-chevron-down ms-1"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="currency_menu">
                    <li><a class="dropdown-item" href="#">USD</a></li>
                    <li><a class="dropdown-item" href="#">EURO</a></li>
                    <li><a class="dropdown-item" href="#">SEK</a></li>
                </ul>
            </div>
        </div>
        <div class="links">
            <a asp-controller="Home" asp-action="Newsletter">Newsletter</a>
            <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
            <a asp-controller="Home" asp-action="FAQ">FAQs</a>
            <span class="ms-4">
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </span>
        </div>
    </div>
</div>
</div>
