<div class="webshop_info">
    <div class="container-fluid">
        <div class="infobox">
            <img src="images/free-shipping-icon.svg" class="me-3" alt="">
            <div>
                <h3>Free shipping</h3>
                <p>For a local customer, we provide free shipping facility</p>
            </div>
        </div>
        <div class="infobox">
            <img src="images/clock-icon.svg" class="me-3" alt="">
            <div>
                <h3>27/7 support</h3>
                <p>For any inquiry, we are available 24 hours every day</p>
            </div>
        </div>
        <div class="infobox">
            <img src="images/online-payment-icon.svg" class="me-3" alt="">
            <div>
                <h3>Online payment</h3>
                <p>You can pay quickly and easily with our online payment system</p>
            </div>
        </div>
        <div class="infobox">
            <img src="images/free-delivery-icon.svg" class="me-3" alt="">
            <div>
                <h3>Free delivery</h3>
                <p>For a local customer, we provide free shipping facility</p>
            </div>
        </div>
    </div>
</div>