
<section class="showcase">
    <div class="container">
        <div class="showcase-body">
            <h1>Shopping is <strong>MORE FUN</strong></h1>
            <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
            <a href="#" class="btn btn-lg btn-white">SHOP NOW</a>
        </div>
        <img src="images/showcase-image.svg" alt="two people standing">
    </div>
</section>