
<section class="webshop-info">
    <div class="container">
        <div class="info-box">
            <img src="images/icons/free-shipping-icon.svg" alt="Free shipping">
            <div>
                <h1>Free shipping</h1>
                <p>For a local customer, we provide free shipping facility</p>
            </div>
        </div>
        <div class="info-box">
            <img src="images/icons/24-7-icon.svg" alt="24/7 support">
            <div>
                <h1>24/7 support</h1>
                <p>For any inquiry, we are available 24 hours every day</p>
            </div>
        </div>
        <div class="info-box">
            <img src="images/icons/onlinepayment-icon.svg" alt="Online payment">
            <div>
                <h1>Online payment</h1>
                <p>You can pay quickly and easily with our online payment system</p>
            </div>
        </div>
        <div class="info-box">
            <img src="images/icons/fastdelivery-icon.svg" alt="Free delivery">
            <div>
                <h1>Free delivery</h1>
                <p>For a local customer, we provide free shipping facility</p>
            </div>
        </div>

    </div>
</section>