* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    position: relative;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border-radius: 50%;
}

.animate {
    position: relative;
    /* animation: slide-around 5s ease-in-out infinite; */
    animation: slide-backandforward 15s ease-in-out infinite;
}

@keyframes slide-around {
    0%      { top: 0; left: 0; }
    25%     { top: 0; left: calc(100% - 100px);  }
    50%     { top: calc(100% - 100px); left: calc(100% - 100px); }
    75%     { top: calc(100% - 100px); left: 0; }
    100%    { top: 0; left: 0; }    
}

@keyframes slide-backandforward {
    0%      { top: 0; left: 0; }
    50%     { top: 0; left: 50px;}
    100%    { top: 0; left: 0;}
}