@import "animations.css";

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: flex;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: lightslategray;
    border-radius: 50%;
    margin: 2px;
}

.animate {
    position: relative;
    animation: bounds 0.5s infinite;
}

.delay-0 { animation-delay: 0s; }
.delay-1 { animation-delay: 0.10s; }
.delay-2 { animation-delay: 0.20s; }
.delay-3 { animation-delay: 0.30s; }
.delay-4 { animation-delay: 0.40s; }
.delay-5 { animation-delay: 0.50s; }