@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.facebook {
    background-color: #3B5998;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}
    .facebook:hover {
        background-color: #243862;
    }
.google {
    background-color: #4285F4;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}
    .google:hover {
        background-color: #2f64b9;
    }


a {
    color: #20d3c2; 
    text-decoration: none;
}
    a:hover {
        color: #20d3c2; 
        text-decoration: underline;
    }

.bg-light {
    background-color: #f6f6f6 !important;
}

.btn-menu {
    background-color: #20d3c2;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 0.8rem 1.5rem;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}
    .btn-menu i {
        margin-top: 3px;
        margin-right: 10px;
        font-size: 1.5rem;
    }

.btn-theme {
    border-radius: 25px;
    background-color: #20d3c2;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 0.7rem 1.5rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 500;   
    transition: background-color 0.2s ease-in-out;
}
    .btn-theme:hover {
        background-color: #0b4e47;
        color: #ffffff;   
    }

.form-check-label,
.form-label {
    font-size: 13px;
    margin-bottom: 4px;
}

.form-control {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 1px solid #ededed;
    border-radius: 0;
}
    .form-control:focus {
        border: 1px solid rgba(32, 211, 193, 0.75);
        box-shadow: 0 0 1px 4px rgba(32, 211, 193, 0.25);
    }

.badge,
.rounded-pill {
    background-color: #20d3c2;
}









.top-header {
    display: none;
    background-color: #20d3c2;
    color: #ffffff;
}
    .top-header .container {
        display: flex;
        justify-content: space-between;
    }
        .top-header .container .site-settings {
            display: flex;
        }

        .top-header ul {
            margin: 0;
            padding: 0.5rem;
            list-style: none;
            display: flex;
        }
        .top-header ul > li {
            margin: 0 1rem;
        }
        .top-header ul > li:last-child {
            margin-right: 0;
        }
        .top-header ul > li:first-child {
            margin-left: 0;
        }






header {

}

    header .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    header .search-and-account {
        display: none;
    }

    header .search-and-account .searchbox {
        border-radius: 25px;
        height: 46px;
        margin: auto;
        position: relative;
    }

    header .search-and-account .searchbox input {
        position: absolute;
        border-radius: 25px;
        height: 100%;
        width: 100%;
        outline: none;
        border: 1px solid #e3e3e3;
        font-size: 0.9rem;
        padding-left: 20px;
    }

    header .search-and-account .searchbox button {
        position: absolute;
        top: 0;
        right: -2px;
        width: 50px;
        height: 100%;
        border: none;
        background-color: #20d3c2;
        color: #ffffff;
        text-align: center;
        border-radius: 0 25px 25px 0;
    }

    header .shopping {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header .shopping i {
            font-size: 1.4rem;
            position: relative;
        }
            header .shopping i > span {
                font-size: 0.6rem;
                position: absolute;
                top: -5px;
                left: 20px;
            }

        header .shopping ul {
            margin: 0;
            padding: 0.5rem;
            list-style: none;
            display: flex;
        }
            header .shopping ul > li {
                margin: 0 1rem;
            }
                header .shopping  ul > li:last-child {
                    margin-right: 0;
                }
                header .shopping ul > li:first-child {
                    margin-left: 0;
                }

    header nav {
        border-top: 1px solid #e3e3e3;
        border-bottom: 0px solid #e3e3e3;
    }
        header nav .special-offer {
            display: flex;
            justify-content: end;
        }


.titlebar {
    background-color: rgba(14, 21, 61, 0.75);
    padding: 3rem 0;
}
    .titlebar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .titlebar h1 {
        font-size: 24px;
        font-weight: 500;
        color:#20d3c2;
    }

    .titlebar ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;
    }
        .titlebar ul li {
            margin-left: 0.5rem;
        } 

.myaccount {
    margin-top: 5rem; 
}
    .myaccount h1 {
        font-size: 24px;
        font-weight: 500;
        color: #0e153d;
        margin-bottom: 1rem;
    }

    .myaccount a {
        font-weight: 500;
    }

    .myaccount p {
        font-size: 14px;  
        color: #777777;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }


    .myaccount .line-text-container {
        position: relative;
        display: flex;
        justify-content: center;
    }
        .myaccount .line-text-container .line-text {
            position: absolute;
            top: -11px;
            padding: 0 20px;
            font-weight: 500;
        }

    .myaccount .external-logins {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
        .myaccount .external-logins .external-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7rem 0;
            border: none;
            border-radius: 4px;
            position: relative;
        }
            .myaccount .external-logins .external-btn i {
                position: absolute;
                left: 20px;
                font-size: 1.6rem;
            }













@media (min-width: 768px) {
    .top-header {
        display: block;
    }

    header .container {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
    }

    header .search-and-account {
        display: block;
    }
}
