<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lektion 7</title>
    <!-- CSS only -->
    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/_02_ASPNET_MVC_Modified.style.css" asp-append-version="true" /> 
   
</head>
<body>
    
    
<  <div class="topmenu">
        <div class="container">
            <div>ENG</div>
            <div>SEK</div>


            <div class="site_settings">
                <ul>
                    <li>Nyhetsbrev</li>
                    <li>Contact Us</li>
                    <li>FAQs</li>
                </ul>

            </div>

            <div class="brand">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>

            </div>
        </div>
    </div>

     <div class="menu">
            <div class="container">
                <div class="logo">
                <img src="~/images/logo.svg" alt="Kenkata logotype" width="60%">
                </div>
       

                <div class="searchbox">
                    <input type="text" placeholder="sok pro..">

                    <label class="searchbox-icon">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </label>
                </div>
                <div class="user_settings">
                  
                 <a class=" me-4" href=" " asp-controller="MyAccount" asp-action="Index"><i class="fa-regular fa-user"></i> MyAccount  </a>
                <a href=" " asp-controller="Shop" asp-action="WishList"><i class="fa-regular fa-heart"></i></a>
                <a href=" " asp-controller="Shop" asp-action="Compare"><i class="fa-regular fa-random"></i></a>
                <a href=" " asp-controller="Shop" asp-action="Shopping Cart">
                    
                            <i class="fa-regular fa-bag-shopping">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    2+
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>



    <!----    <div class="menu1">
                <div class="container">
                    
                        <button class="btn-menu">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                Browse Categories
            </button>
                       
                       <div class="btn-menu1">

                        <button class="button">Special Offer</button>
               
                        </div>
                </div>
            </div>-->
       
        <!-------main----->
    <!---

  <div class="main">
        <div class="container">
            <div class="menu1">
                <h1>Att handla är</h1>
                <h2>ROLIGARE </h2><br>
                <h3>
                    fdythuhugt hbjh jhbh gvhbjnkjnnk.<br>
                    fchbjkjlkmmgv gvh gvhb yguy
                </h3><br>


                <button class="button">Handla Nu</button>
            </div>


            <div class="pics">
                <img src="~/images/showcase-thumb.svg">



            </div>
        </div>
    </div>

    <div class="container">
        <div class="items">
            <button class="btn-menu1">
                <i class="fa fa-truck" aria-hidden="true"></i>
                Free Shipping <p>for a local customer, we<br>provide free shipping</p>
            </button>
            <button class="btn-menu2">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                24/7 Support
                <p>for any enquiry,we are<br>available 24 hours</p>
            </button>

            </button>
            <button class="btn-menu3">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                Online Payment
                <p>pay quickly and early <br> through online payment</p>
            </button>
            <button class="btn-menu4">
                <i class="fa fa-truck" aria-hidden="true"></i>
                Fast Delivery
                <p>
                    We deliver in a fast way<br> through transport
                </p>


        </div>
    </div>



    <div class="category">
        <div>SHOP BY</div>
        <div>CATEGORY</div>

    </div>

</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>-->
  
   
            @RenderBody()
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
